.animal__image {
    position: relative;
    padding-bottom: 100%;
}

.animal__info {
    display: flex;
    flex-wrap: wrap;
    background: repeating-linear-gradient(#f7f7f7 0,#f7f7f7 30px,#fff 30px,#fff 60px)
}

.animal__info > * {
    flex: 0 0 50%;
    padding: 4px 9px;
    min-height: 30px;
    background: unset;
}

@media (min-width: 1023px) {
    .animal {
        padding: 0 30%;
    }
}

@media (max-width: 767px) {
    .animal__name,
    .animal__description,
    .animal__info {
        padding: 0 20px;
    }
}
