.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.menu {
    display: flex;
}

.menu-item {
    display: block;
    padding: 15px;
    transition: background-color .3s ease-in-out;
}

.menu-item:hover {
    background-color: var(--color-concrete);
}

.logo-wrapper {
    flex-basis: 25%;
    flex-shrink: 1;
}

.logo {
    position: relative;
    width: 100%;
    height: 100%;
}
